AuthType Basic
AuthName "Restricted Content"
AuthUserFile /app/data/.htpasswd
Require valid-user

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !^data
RewriteRule ^(.*)$ data/$1 [L]
</IfModule>